
target/test-classes/it/unisa/test/EagerTestSingleInstanceTest.class
target/test-classes/it/unisa/test/EagerTestSingleInstanceTest.class
.idea/jarRepositories.xml
target/test-classes/it/unisa/test/EagerTestSingleInstanceTest.class
